*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url('pexel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h1{
    padding-left: 450px;
}
nav{
    padding-left: 200px;
    padding-top: 450;
}
ul.mainlist{
	display: flex;
	margin-right:30px
}
li{
	padding:0px 10px;
	line-height:40px;
	word-spacing: 30px;
}
