*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("sigup.jpeg");
    background-size: cover;
    background-position: center;
    padding-top: 70px;
    padding-left: 650px;
}
h1{
    padding-left: 80px;
}
nav{
    padding-right: 500px;
}
em{
    padding-left: 450px;
}